<!DOCTYPE html>
<html lang="en">

<head>
    <title>Get-a-WAI</title>
</head>

<body>
    <div id="everything_container">
    </div>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script type="text/babel" src="{{url_for('static', filename='js/test.js')}}"></script>
</body> 

</html>